html,body{
    height: 100%;
    margin:0;
    background-color: #f8f8f8;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 4px lightgray;
    text-align: center;
}

header img{
    margin-top: 15px;
    height: 50px;
}

main{
    width: 100%;
    flex: 1;
}

.contents{
    margin: 40px auto;
    border: lightgray solid 2px;
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 4px lightgray;
}

p{
    text-align: center;
    padding-top: 40px;
}

.URL1{
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.URL2{
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 100px;
}

footer{
    height: 40px;
    background-color: white;
    color: gray;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    border-top: lightgray solid 2px;
}