body {
    margin: 0 auto;
    background-color: #f8f8f8;
}

header {
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 4px lightgray;
    text-align: center;
}

header img {
    margin-top: 15px;
    height: 50px;
    padding-left: 40px;
}

main {
    clear: left;
    width: 100%;
}

.login_contents {
    margin: 0 auto;
    text-align: center;
}

form {
    margin: 0 auto;
    border: lightgray solid 2px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 4px 4px lightgray;
}

.err-message{
    background-color: #ff5c5c9f;
    margin: 30px 80px 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #CC0000;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 40px auto 10px;
}

.label {
    align-self: flex-start;
    margin-bottom: -20px;
}

.textbox {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.formbox{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 120px;
}

.login_button {
    border: lightgray solid 1px;
    padding: 6px 60px 4px 60px;
    color: white;
    background-color: #31A263;
    border-radius: 5px;
    border-bottom: gray solid 2px;
    width: 200px;
    margin-top: 40px;
    margin-bottom: 60px;
}

footer {
    width: 100%;
    height: 40px;
    background-color: white;
    color: gray;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    border-top: lightgray solid 2px;
}