body {
    margin: 0 auto;
    background-color: #f8f8f8;
}

header {
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 4px lightgray;
    text-align: center;
}

header img {
    margin-top: 15px;
    height: 50px;
    padding-left: 40px;
}

main {
    width: 100%;
}
.box{
    margin: 0 auto;
    border: lightgray solid 2px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 4px 4px rgba(211, 211, 211, 0.781);
}

h2{
    text-align: center;
    border-bottom: #31A263 solid 1px;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.hello{
    padding-left: 50px;
    font-size: 18px;
    padding-top: 10px;
}

.picture{
    display: inline-block;
    border: solid lightgray 2px;
    text-align: left;
    margin-top: 40px;
    margin-left: 60px;
    vertical-align: bottom;
}

.picture img{
    width: 120px;
    padding: 5px;
}

.text{
    display: inline-block;
    vertical-align: bottom;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 18px;
}

.line {
    border-bottom: solid 3px #f0f0f0;
    margin: 40px 45px 15px;
}

.comments{
    padding: 0px 40px 30px;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: left;
    margin-left: 20px;
}

.button{
    display: flex;
    justify-content: center;
    column-gap: 5px;
    margin-bottom: 40px;
}

.hensyu{
    border: lightgray solid 1px;
    padding: 7px 40px 7px 40px;
    color: white;
    background-color: #31A263;
    border-radius: 5px;
    border-bottom: #808080d0 solid 2px;
    font-size: 16px;   
}

footer {
    width: 100%;
    height: 40px;
    background-color: white;
    color: gray;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    border-top: lightgray solid 2px;
}

/*　フォームのcssが未完成。*/