body{
    margin:0 auto;
    background-color: #f8f8f8;
}

header{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 4px lightgray;
    text-align: center;
}

header img{
    margin-top: 15px;
    height: 50px;
    padding-left: 40px;
}

main{
    clear: left;
    width: 100%;
}

.confirm{
    margin: 0 auto;
    border: lightgray solid 2px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 4px 4px lightgray;
}

.confirm p,h2{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

h2{
    text-align: center;
    border-bottom: #31A263 solid 1px;
    font-size: 20px;
}

.kakunin{
    text-align: center;
    font-size: 18px;
}

.name{
    text-align: left;
    margin: 25px;
    padding-left: 25px;
}

.mail{
    text-align: left;
    margin: 25px;
    padding-left: 25px;
}

.password{
    text-align: left;
    margin: 25px;
    padding-left: 25px;
}

.picture{
    text-align: left;
    margin: 25px;
    padding-left: 25px;
}

.comments{
    text-align: left;
    margin: 25px;
    padding-left: 25px;
}

.buttons{
    display: flex;
    justify-content: center;
    column-gap: 5px;
    margin-bottom: 20px;
}

.button1{
    border: lightgray solid 1px;
    padding: 7px 30px 7px 30px;
    color: white;
    background-color: #adadad;
    border-radius: 5px;
    border-bottom: solid 2px gray;
    font-size: 16px;
}

.button2{
    border: lightgray solid 1px;
    padding: 7px 40px 7px 40px;
    color: white;
    background-color: #31A263;
    border-radius: 5px;
    border-bottom: gray solid 2px;
    font-size: 16px;   
}

footer{
    width: 100%;
    height: 40px;
    background-color: white;
    color: gray;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    border-top: lightgray solid 2px;
}